# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native Packager
*.pack
*.tmp
*.temp

# macOS
.DS_Store

# Windows
Thumbs.db

# Android
android/.gradle/
android/app/build/
android/app/release/
android/build/

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcuserdata
ios/Podfile.lock
ios/Podfile
ios/*.xcodeproj/xcuserdata

# Expo
.expo/
.expo-shared/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Other
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
